h1 {
    text-shadow: 3px 3px 1px gold;
    color: red;
    font-family: 'Arial Narrow';
    border: 7px solid white; 
    width: 25%;
    padding: 3%;
    background-image: url(images/home.webp);
}
body {
    background-color: lime;
}
h4 {
    text-align: center;
}
.do {
    font-family:sans-serif;
}
.sat {
    text-align: center;
}
.class {
    width: 30%;
}
