h1 {
    text-shadow: 3px 3px 1px white;
    color: gold;
    font-family: 'Arial Narrow';
    border: 7px solid black; 
    width: 26%;
    padding: 3%;
    background-image: url(images/house3.jfif);
}
body {
    background-color: mediumslateblue;
}
h3 {
    text-align: center;
}
.pop {
    text-align: center;
    font-family: Tahoma;
}
.cloe {
    width: 30%;
}
.clo {
    width: 30%;
}