body{
    margin: 0px;
}

.navigation-menu{
    padding: 20px;
}
.banner{
    background-image: url(./images/group-image.jpg);
    padding: 100px;
    background-size:cover;
}

nav a{
    padding-right: 30px;
}